RewriteEngine on
RewriteCond %{HTTP_HOST} ^www.metrepersecond.com [NC]
RewriteRule ^(.*)$ https://metrepersecond.com/$1 [L,R=301]

RewriteEngine On
RewriteCond %{HTTP_HOST} ^metrepersecond.com [NC]
RewriteRule ^(.*)$ https://metrepersecond.com/$1 [L,R=301]

RewriteEngine on
 
# if a directory or a file exists, use it directly
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
 
# otherwise forward it to index.php
RewriteRule . index.php